asgiref
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
decorator
distlib
dj-database-url
Django
django-crispy-forms
django-environ
docutils
EasyProcess
entrypoint2
filelock
future
geocoder
geographiclib
geopy
idna
mss
numpy
opencv-contrib-python
opencv-python
Pillow
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
pypiwin32
PyRect
pyscreenshot
PyScreeze
pytweening
pywin32
PyYAML
ratelim
requests
scipy
six
sqlparse
svg.path
svgpathtools
svgwrite
tqdm
typing_extensions
urllib3
