asgiref
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
decorator
distlib
Django
django-crispy-forms
django-environ
docutils
EasyProcess
entrypoint2
filelock
future
geocoder
geographiclib
geopy
idna
Kivy
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
Kivy-Garden
MouseInfo
mss
numpy
opencv-contrib-python
opencv-python
Pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
Pygments
PyMsgBox
pyperclip
pypiwin32
PyRect
pyscreenshot
PyScreeze
pytweening
pywin32
PyYAML
ratelim
requests
scipy
six
sketchpy
sqlparse
svg.path
svgpathtools
svgwrite
tqdm
turtle
tzdata
urllib3
virtualenv