asgiref
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
decorator
distlib
dj-database-url
Django
django-crispy-forms
django-environ
docutils
EasyProcess
entrypoint2
filelock
future
geocoder
geographiclib
geopy
idna
Kivy
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
Kivy-Garden
MouseInfo
mss
numpy
opencv-contrib-python
opencv-python==4.8.0.76
Pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
Pygments
PyMsgBox
pyperclip
pypiwin32
PyRect
pyscreenshot
PyScreeze
pytweening
pywin32
PyYAML
ratelim
requests
scipy
six
sketchpy
sqlparse
svg.path
svgpathtools
svgwrite
tqdm
turtle
typing_extensions
tzdata
upgrade-pip
urllib3
virtualenv
